@tailwind base;
@tailwind components;
@tailwind utilities;


/* caixa menor e clean */
.swal-clean {
  border-radius: 10px !important;
  font-size: 13px !important;
}

/* título */
.swal-title {
  font-size: 15px !important;
  font-weight: 600 !important;
}

/* texto */
.swal-text {
  font-size: 13px !important;
  color: #6b7280 !important;
}

/* botão confirmar */
.swal-confirm {
  background-color: #16a34a !important;
  color: white !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
}

/* botão cancelar */
.swal-cancel {
  background-color: #FF4C4C !important;
  color: white !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
}

/* espaçamento entre botões */
.swal2-actions {
  gap: 6px !important;
}